<div class="margin-top center">
  <div class="new-picture color-white">
    <%= link_to '投稿する', new_picture_path %>
  </div>
  <% @pictures.each do |picture| %>
    <div class="color-white">
      <div class="flex">
        <div>
          <%= link_to (image_tag picture.user.image.url, class: "icon-image"), user_path(picture.user.id) %>
          <%= link_to picture.user.name, user_path(picture.user.id) %>
        </div>
        <div>
        <% if picture.user.id == current_user.id %>
          <%= link_to image_tag("edit.png"), edit_picture_path(picture) %>
          <%= link_to image_tag("delete.png"), picture, method: :delete, data: { confirm: '削除してもいいですか？' } %>
        <% end %>
          <% unless picture.user_id == current_user.id %>
            <% if current_user.favorites.find_by(picture_id: picture.id).present? %>
              <%= link_to image_tag("no_favorite.png"), favorite_path(id: current_user.favorites.find_by(picture_id: picture.id).id), method: :delete %>
            <% else %>
              <%= link_to image_tag("favorite.png"), favorites_path(picture_id: picture.id), method: :post %>
            <% end %>
          <% end %>
        </div>
        
      </div>
      <%= link_to (image_tag picture.image.url, class: "main-image"), picture %>
      <p><%= picture.content %></p>
    </div>
  <% end %>
  
</div>