<!DOCTYPE html>
<html>
  <head>
    <title>Divegram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
    <div>
      <%= link_to image_tag("logo.png", class: "logo-icon"), pictures_path %>
    </div>
    <div>
        <%= link_to image_tag("home.png"), pictures_path %>
        <%= link_to image_tag("favorite.png"), favorites_path %>
        <%= link_to image_tag("logout.png"), session_path(current_user.id), method: :delete, confirm: "ログアウトしてもよろしいですか？" %>
        <%= link_to image_tag(current_user.image.url, class: "user-icon"), user_path(current_user.id) %>
    </div>
    </header>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
